<section id="loginPage">
    <div class="BG">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                        </div>
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title text-center mb-5 fw-light fs-1">Login</h5>
                            <!-- Sign In Form -->
                            <form [formGroup]="loginForm" #userForm="ngForm" (ngSubmit)="onSubmit()">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName='username' [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                    <label for="floatingInput">Email address</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName='password' [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <router-outlet></router-outlet>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" />
                                    <label class="form-check-label" for="rememberPasswordCheck"> Remember password </label>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit" [disabled]="loading">
                                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                      Login
                                    </button>
                                    <div class="text-center">
                                        <a class="small" href="#">Forgot password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>